@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:100");
@import url("https://fonts.googleapis.com/css?family=Poppins:100i");
@import url("https://fonts.googleapis.com/css?family=Poppins:200");
@import url("https://fonts.googleapis.com/css?family=Poppins:200i");
@import url("https://fonts.googleapis.com/css?family=Poppins:300");
@import url("https://fonts.googleapis.com/css?family=Poppins:300i");
@import url("https://fonts.googleapis.com/css?family=Poppins:400");
@import url("https://fonts.googleapis.com/css?family=Poppins:400i");
@import url("https://fonts.googleapis.com/css?family=Poppins:500");
@import url("https://fonts.googleapis.com/css?family=Poppins:500i");
@import url("https://fonts.googleapis.com/css?family=Poppins:600");
@import url("https://fonts.googleapis.com/css?family=Poppins:600i");
@import url("https://fonts.googleapis.com/css?family=Poppins:700");
@import url("https://fonts.googleapis.com/css?family=Poppins:700i");
@import url("https://fonts.googleapis.com/css?family=Poppins:800");
@import url("https://fonts.googleapis.com/css?family=Poppins:800i");
@import url("https://fonts.googleapis.com/css?family=Poppins:900");
@import url("https://fonts.googleapis.com/css?family=Poppins:900i");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

*::-moz-selection {
  background: #EFC1AC;
  color: #FFFFFF;
}

*::selection {
  background: #EFC1AC;
  color: #FFFFFF;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

body #header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 100%;
  width: 350px;
  position: relative;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

body #header-nav.open {
  margin-left: 0px;
}

body #header-nav.open #hide-button #close-eye {
  opacity: 0;
}

body #header-nav.open #hide-button #open-eye {
  opacity: 1;
}

body #header-nav.close {
  margin-left: -350px;
}

body #header-nav.close #hide-button {
  right: -50px;
  background: #EFC1AC;
}

body #header-nav.close #hide-button #open-eye {
  opacity: 0;
}

body #header-nav.close #hide-button #close-eye {
  opacity: 1;
}

body #header-nav #hide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50px;
  height: 50px;
}

body #header-nav #hide-button img {
  position: absolute;
  height: 20px;
  width: 20px;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

body #header-nav #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

body #header-nav #name img {
  height: 60px;
}

body #header-nav #name h1 {
  font-weight: 700;
  color: #000000;
}

body #header-nav #menu {
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-bottom-color: #e6e6e6;
}

body #header-nav #menu li {
  height: 100%;
}

body #header-nav #menu li a {
  color: #4D4D4D;
  font-size: 15px;
  font-weight: bold;
  padding: 18px 0px 18px 0px;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0.5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #menu li a:hover {
  border-right-style: solid;
  border-right-color: #333372;
  border-right-width: 4px;
  font-weight: 400;
  background: #f2f2f9;
}

body #header-nav #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

body #header-nav #social-media li {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-nav #social-media li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-nav #social-media li a img {
  height: 16px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

body #header-nav #social-media li:hover {
  background: #EFC1AC;
}

body #header-nav #social-media li:hover a img {
  height: 18px;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

body #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 100%;
  overflow-y: auto;
}

body #content #home {
  background: #afafee;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #home #home-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60%;
}

body #content #home #home-content #home-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

body #content #home #home-content #home-text h2 {
  font-size: 30px;
  font-weight: 400;
}

body #content #home #home-content #home-text h1 {
  font-size: 70px;
  font-weight: 700;
}

body #content #home #home-content #home-text p {
  font-size: 20px;
}

body #content #home #home-content .button {
  border-radius: 5px;
  background-color: #afafee;
  border: solid;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 250px;
  height: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

body #content #home #home-content .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #content #home #home-content .button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body #content #home #home-content .button:hover {
  background: #333372;
  font-weight: 400;
  border: none;
}

body #content #home #home-content .button:hover span {
  padding-right: 25px;
}

body #content #home #home-content .button:hover span:after {
  opacity: 1;
  right: 0;
}

body #content #about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  height: 1000px;
}

body #content #about-me h1 {
  font-weight: 700;
  color: #4D4D4D;
  padding-bottom: 20px;
}

body #content #about-me #about-me-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

body #content #about-me #about-me-content img {
  height: 450px;
}

body #content #about-me #about-me-content #about-me-text {
  width: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 180px;
}

body #content #about-me #about-me-content #about-me-text h2 {
  font-size: 20px;
  color: #4D4D4D;
}

body #content #about-me #four-areas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

body #content #about-me #four-areas img {
  width: 70px;
}

body #content #about-me #four-areas h2 {
  font-size: 20px;
  color: #4D4D4D;
  padding-bottom: 10px;
}

body #content #about-me #four-areas p {
  font-size: 12px;
}

body #content #about-me #four-areas div {
  width: 200px;
}

body #content #about-me #four-areas #leadership {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #about-me #four-areas #communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #about-me #four-areas #creative-thinking {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #content #about-me #four-areas #responsability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */