@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

*::-moz-selection {
  background: #EFC1AC;
  color: #FFFFFF;
}

*::selection {
  background: #EFC1AC;
  color: #FFFFFF;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  width: 100vw;
}

body #header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  height: 100%;
  width: 350px;
  position: relative;
}

body #header-nav #hide-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: blue;
  position: absolute;
  top: 20px;
  right: 20px;
}

body #header-nav #hide-button img {
  height: 20px;
  width: 20px;
}

body #header-nav #name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-nav #name img {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
}

body #header-nav #name h1 {
  font-weight: 900;
  margin-bottom: 10px;
  color: #4D4D4D;
}

body #header-nav #menu {
  border-style: solid;
  border-width: 0px 0px 0.5px 0px;
  border-bottom-color: #e6e6e6;
}

body #header-nav #menu li {
  height: 100%;
}

body #header-nav #menu li a {
  color: #4D4D4D;
  font-size: 15px;
  font-weight: bold;
  padding: 18px 0px 18px 0px;
  border-color: #e6e6e6;
  border-style: solid;
  border-width: 0.5px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-nav #menu li a:hover {
  border-right-style: solid;
  border-right-color: #333372;
  border-right-width: 4px;
  font-weight: 400;
  background: #f2f2f9;
}

body #header-nav #social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 45%;
}

body #header-nav #social-media li {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-nav #social-media li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #header-nav #social-media li a img {
  height: 16px;
  -webkit-transition-duration: 10s;
          transition-duration: 10s;
}

body #header-nav #social-media li:hover {
  background: #EFC1AC;
}

body #header-nav #social-media li:hover a img {
  height: 18px;
  -webkit-filter: brightness(1000%);
          filter: brightness(1000%);
}

body #content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #afafee;
}
/*# sourceMappingURL=Style.css.map */